.App {
  margin: auto;
  width: 650px;
  margin-top: 2em;
}

.Box {
  padding: 10px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  width: 10em;
  display: inline-block;
}

input {
  width: 20em;
}

.Typed {
  margin: auto;
  width: 650px;
  margin-top: 2em;
}

